<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>管理者ページ | KCBC Live Streaming System</title>

  <!-- UIkit -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>

  <!-- original -->
  <link rel="stylesheet" href="./css/style.css">
</head>
<body class="noselect">
  <%- include('./_navbar', {headerTitle: "管理者ページ", grant: "admin"}) %>
  <%_ if (message && message.length !== 0) { _%>
    <script>
      UIkit.notification({
        message: '<%= message %>',
        status: '<%= msgStatus %>'
      });
    </script>
  <%_ } _%>
  <main id="admin" class="uk-margin-top uk-container" uk-height-viewport="offset-top: true">
    <ul class="uk-tab" uk-tab="animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium">
      <li><a>配信情報の管理</a></li>
      <li><a>ユーザーの管理</a></li>
      <li><a>その他</a></li>
    </ul>
    <ul class="uk-switcher uk-margin">
      <li>
        <%- include('./admin/_manage_streams') %>
      </li>
      <li>
        <%- include('./admin/_manage_users') %>
      </li>
      <li>
        <%- include('./admin/_manage_auth') %>
        <%- include('./admin/_manage_hls') %>
      </li>
    </ul>
    <script>
      // 操作後のactiveTabを指定
      const activeTabNo = Number('<%= activeTabNo %>'); // 直接書くと警告が目障りなので
      const tab = document.querySelector(".uk-tab");
      const switcher = document.querySelector(".uk-switcher");
      for (let i = 0; i < tab.children.length; i++) {
        if (i === activeTabNo) {
          tab.children[i].classList.add("uk-active");
          switcher.children[i].classList.add("uk-active");
        } else {
          tab.children[i].classList.remove("uk-active");
          switcher.children[i].classList.remove("uk-active");
        }
      }
    </script>
  </main>
</body>
</html>